/* Grid classes */
.grid {
    display: grid;
    gap: 20px;
}

.grid-col-span--2 {
    grid-column: span 2;
}

.grid-rows-span--2 {
    grid-row: span 2;
}

/* Calculator styling */
#calculator {
    grid-template-columns: repeat(2, 1fr);
    max-width: 500px;
    margin: auto;
}

#calculator-display {
    text-align: right;
    margin: 0;
    border-bottom: 1px solid black;
    height: 20px; /* 特定の高さを設定する */
}

#calculator-nums {
    grid-template-columns: repeat(3, 1fr);
}

#calculator-ops {
    grid-template-columns: repeat(2, 1fr);
}
