 /* Grid classes */
.grid {
  display: grid;
  gap: 7px; 
}

.grid-col-span--2 {
  grid-column: span 2;
}

.grid-rows-span--2 {
  grid-row: span 2;
}

/* Flexbox classes */
.flex {
  display: flex;
}

/* Calculator styling */
#calculator {
  grid-template-columns: repeat(2, 1fr);
  max-width: 500px;
  margin: auto;
}

#calculator-display,
#calculator-display-error {
  font-size: 20px;
  text-align: right;
  margin: 0;
  height: 20px; /* 特定の高さを設定する */
}

#calculator-display-error {
  font-size: 15px;
  height: 20px; /* 特定の高さを設定する */
  border-bottom: 1px solid black;
  margin-bottom: 5px;
}

#calculator-buttons,
#calculator-ops {
  grid-template-columns: repeat(2, 1fr);
}

#calculator-nums {
  grid-template-columns: repeat(3, 1fr);
}

button {
  border: 1px solid black;
  padding: 10px 30px;
} 
